<ul>
    <li><a class="active" href="{% url 'dashboardPage' %}">Home</a></li>
    <li><a class="nav-link" href="{% url 'createateProfile' %}">Create Profile</a></li>
    <li><a class="active" href="{% url 'logoutPage' %}">Logout</a></li>
    <li><a class="active" href="{% url 'editProfile' %}">Edit Profile</a></li>
    <li><a class="active" href="{% url 'items' %}">Items</a></li>
    <li><a class="active" href="{% url 'vieweatinglist' %}">View List</a></li>
    <li><a class="active" href="{% url 'helloPage' %}">Hello Page</a></li>
    <li><a class="active" href="{% url 'profilePage' %}"> Dashboard</a></li>
</ul>
  
